*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #ffffff;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000000;
    font-family: Forum;
}
body.lock {
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1480px;
    padding: 0px 20px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*------------------------------------------------------------------------HEADER-----------------------------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background: #030303;
}
.header__container {
    min-height: 150px;
    align-items: center;
    font-family: Roboto;
}
h4 {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
}
/*-------------------------------------------------------------------LOGO----------------------------------------------------------------------*/
.logo__container {
    display: flex;
    position: relative;
    height: 33px;
    z-index: 5;
}
.logo__image {
    position: absolute;
    height: 26px;
}
.logo__louvre {
    position: relative;
    left: 74px;
    font-family: Forum;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
/*------------------------------------------------------------------MENU--------------------------------------------------------------------*/
.menu__list {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    gap: 55px;
}
@media (max-width: 1440px) {
    .menu__list {
        gap: 30px;
    }
}
.menu__link {
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}
.menu__link:hover {
    color: #caaa7d;
}
.header__burger {
    display: none;
}
@media (max-width: 1440px) {
    .header .header__container {
        min-height: 130px;
    }
}
@media (max-width: 1024px) {
    .header .header__container {
        min-height: 110px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 32px;
        height: 18px;
        z-index: 10;
        cursor: pointer;
    }
    .header__burger::before,
    .header__burger::after,
    .header__burger span {
        left: 0;
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
    }
    .header__burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #030303;
        margin: 0;
        padding: 130px 0px 0px 20px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active {
        left: 0;
        display: flex;
    }
    .header .menu__list {
        display: block;
    }
    .fotoMonaLisa {
        width: 700px;
        height: 525px;
        display: block;
        position: absolute;
        left: 297px;
        top: 130px;
    }
    .slider__burger {
        display: block;
        position: absolute;
        width: 700px;
        height: 124px;
        top: 591px;
        left: 304px;
        background: #030303;
    }
    .header .menu__item:not(:last-child) {
        margin: 0px 0px 25px 0px;
    }
    .header .menu__link {
        position: relative;
        top: 35px;
        left: 35px;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
    }
    .header__burger.active span {
        transform: scale(0) translate(0px, -50%);
    }
    .header__burger.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__burger.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
@media (max-width: 768px) {
    .header .header__container {
        min-height: 90px;
    }
    .header .header__container .logo__container {
        align-items: center;
    }
    .header .header__container .logo__container .logo__louvre,
    .footer .footer__container .logo__container .logo__louvre {
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 5px;
    }
}
@media (max-width: 420px) {
    .header .header__container .logo__container {
        align-items: end;
    }
    .header .header__container .logo__container .logo__louvre,
    .footer .footer__container .logo__container .logo__louvre {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 5px;
        left: 65px;
    }
}
/*--------------------------------------------------------------------------WELCOME-----------------------------------------------------------*/
.main {
    position: relative;
    margin: 150px auto 0px;
    width: 100%;
    flex: 1 1 auto;
    font-family: Roboto;
}
@media (max-width: 1440px) {
    .main {
        margin-top: 130px;
    }   
}
@media (max-width: 1024px) {
    .main {
        margin-top: 110px;
    }
}
@media (max-width: 768px) {
    .main {
        margin-top: 90px;
    }
}
.Welcome{
    width: 100%;
    background: #030303;   
}
.text__block {
    position: absolute;
    top: 150px;
    z-index: 1;
}
.title {
    font-family: Forum;
    font-size: calc(18px + 62 * (100vw / 1920));
    line-height: calc(28px + 62 * (100vw / 1920));
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
}
.signature {
    position: relative;
    font-size: calc(10px + 18 * (100vw / 1920));
    line-height: calc(15px + 18 * (100vw / 1920));
    letter-spacing: 2px;
    margin-top: 25px;
}
.button__discover {
    position: relative;
    top: 95px;
    background: #710707;
    text-align: center;
    padding: 30px 64px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: all 0.3s linear;
}
.button__discover:hover {
    background: #c00c0c;
    transition: all 0.3s linear;
}
.foto__slider {
    position: relative;
    left: 400px;
    z-index: 0;
    height: 810px;
    width: 100vw;
}
.videos {
    position: relative;
    left: 0px;
    z-index: 0;
    height: 310px;
    max-width: 1440px;
}
.video-slider {
    width: 1440px;
}
.fotoMonaLisa {
    display: none;
}
.slider__burger {
    display: none;
}
.foto {
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}
.slider {
    position: relative;
    width: 600px;
    height: 120px;
    top: -60px;
    left: 400px;
    background: #030303;
    z-index: 3;
}
/*----------------------------------------------------------------------BULLETS--------------------------------------------------------------*/
.slider .swiper-pagination {
    bottom: 52px;
}
.slider .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 0%;
    transition: all .3s linear;
}
.slider .swiper-pagination-bullet:hover {
    background: #d2b183;
}
.slider .swiper-pagination-bullet-active {
    background: #d2b183;
}
.slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 25px) 0 0;
}
/*---------------------------------------------------------------------BUTTONS-----------------------------------------------------------*/
.slider .swiper-button-prev,
.slider .swiper-button-next {
    width: 30px;
    height: 8px;
    transition: all .3s linear;
    margin-top: -11px;
}
.slider .swiper-button-prev:hover,
.slider .swiper-button-next:hover {
    opacity: 0.5;
}
.slider .swiper-button-prev {
    left: 445px;
    background: url(assets/slider/slider-prev.svg);
}
.slider .swiper-button-next {
    right: 75px;
    background: url(assets/slider/slider-next.svg);
}
.slider .swiper-button-next::after,
.slider .swiper-button-prev::after {
    color: rgba(255, 255, 255, 0);
}
/*---------------------------------------------------------------------FRACTION-------------------------------------------------------*/
.image-slider__fraction {
    padding: 40px 0px 0px 0px;
    width: 76px;
    margin-left: 74px;
    display: flex;
    color: #fff;
    font-family: Roboto;
    font-size: calc(10px + 12 * (100vw / 1920));
    line-height: 40px;
}
.image-slider__sepparator {
    margin: 0px 10px;
}
@media (max-width: 1440px) {
    .Welcome .text__block {
        width: 100%;
        top: 20px;
        left: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .Welcome .button__discover {
        display: none;
    }
    .image-slider,
    .image-slider__wrapper,
    .image-slider__slide,
    .image-slider__image {
        width: calc(100vw - 40px);
        height: auto;
        text-align: center;
    }
    .Welcome .foto__slider {
        position: relative;
        top: 240px;
        left: 0px;
        margin-bottom: 100px;   
    }
    .Welcome img {
        height: 546px;
    }
    .slider {
        width: 600px;
        height: 100px;
        margin: 0 auto;
        top: 0px;
        left: 0;
        z-index: 3;
    }
    .slider .swiper-pagination {
        bottom: 30px;
    }
    .slider .swiper-button-prev,
    .slider .swiper-button-next {
        margin-top: 5px;
    }
}
@media (max-width: 768px) {
    .Welcome img {
        height: 350px;
    }
    .slider {
        width: 500px;
    }
    .slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px) 0 0;
    }
    .slider .swiper-button-prev {
        left: 375px;
    }
    .slider .swiper-button-next {
        right: 40px;
    }
    .slider .swiper-pagination {
        margin-left: 15px;
    }
    .Welcome .foto__slider {
        top: 215px;
        height: 700px;
        margin-bottom: 0px;
    }
}
@media (max-width: 550px) {
    .Welcome img {
        height: 300px;
    }
    .slider {
        width: 400px;
    }
    .image-slider__fraction {
        margin-left: 10px;
    }
    .slider .swiper-button-prev {
        left: 300px;
    }
    .slider .swiper-button-next {
        right: 20px;
    }
    .slider .swiper-pagination {
        margin-left: -10px;
    }
    .Welcome .foto__slider {
        height: 650px;
        top: 200px;
    }
}
@media (max-width: 480px) {
    .Welcome img {
        height: 250px;
    }
    .signature {
        margin-top: 15px;
    }
    .slider {
        width: 350px;
    }
    .Welcome .foto__slider {
        top: 180px;
        height: 550px;
    }
    .slider .swiper-button-prev {
        left: 250px;
    }
}
@media (max-width: 400px) {
    .Welcome img {
        height: 180px;
    }
    .signature {
        margin-top: 10px;
    }
    .slider {
        width: 270px;
    }
    .slider .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        line-height: 10px;
    }
    .slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) 0 0;
    }
    .slider .swiper-pagination {
        bottom: 32px;
    }
    .slider .swiper-button-prev {
        left: 185px;
    }
    .Welcome .foto__slider {
        top: 160px;
        height: 450px;
    }
}
/*----------------------------------------------------------------------------VISITING----------------------------------------------------------*/
.Visiting {
    width: 100%;
    min-height: 100%;
    background: #ffffff;
}
.section__title {
    font-family: Forum;
    font-size: calc(25px + 50 * (100vw / 1920));
    line-height: calc(35px + 50 * (100vw / 1920));
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
}
.line {
    width: 100%;
    height: 3px;
    background: #710707;
    margin: 25px 0px 75px 0px;
}
.section__content {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px 60px;
}
.section__content__title {
    font-size: calc(20px + 8 * (100vw / 1920));
    line-height: calc(23px + 8 * (100vw / 1920));
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}
.Visiting .section__content .line {
    width: 300px;
    height: 2px;
    margin: 10px 0px;
    transition: all 1s linear;
}
.Visiting .section__content .royal__palace:hover .line,
.Visiting .section__content .denon__wing:hover .line,
.Visiting .section__content .colonnade__perrault:hover .line,
.Visiting .section__content .greek__hall:hover .line,
.Visiting .section__content .mona__lisa:hover .line,
.Visiting .section__content .night__palace:hover .line {
    width: 440px;
    height: 2px;
    margin: 10px 0px;
}
._360__virtual__tour,
.google__street__view {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    color: #000000;
}
._360__virtual__tour {
    font-size: calc(16px + 10 * (100vw / 1920));
    line-height: calc(18px + 10 * (100vw / 1920));
    margin: 10px 0px;
}
.google__street__view {
    font-size: calc(14px + 4 * (100vw / 1920));
    line-height: calc(18px + 4 * (100vw / 1920));
}
.Visiting .section__content img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
@media (max-width: 1440px) {
    .section__content {
        grid-gap: 30px 40px;
    }
}
@media (max-width: 1024px) {
    .Visiting .line {
        margin: 20px 0px 60px 0px;
    }
    .Visiting .section__content {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px 40px;
    }
    .Visiting .section__content img {
        margin-bottom: 25px;
    }
    .Visiting .section__content a > .line {
        width: 150px;
    }
    .Visiting .section__content .royal__palace:hover .line,
    .Visiting .section__content .denon__wing:hover .line,
    .Visiting .section__content .colonnade__perrault:hover .line,
    .Visiting .section__content .greek__hall:hover .line,
    .Visiting .section__content .mona__lisa:hover .line,
    .Visiting .section__content .night__palace:hover .line {
        width: 330px;
    }
}
@media (max-width: 768px) {
    .Visiting ._container {
        display: block;
    }
    .Visiting .line {
        margin: 20px 0px 40px 0px;
    }
    .Visiting .section__content {
        grid-gap: 40px 35px;
    }
    .Visiting .section__content .royal__palace:hover .line,
    .Visiting .section__content .denon__wing:hover .line,
    .Visiting .section__content .colonnade__perrault:hover .line,
    .Visiting .section__content .greek__hall:hover .line,
    .Visiting .section__content .mona__lisa:hover .line,
    .Visiting .section__content .night__palace:hover .line {
        width: 280px;
    }
}
@media (max-width: 575px) {
    .Visiting .line {
        margin: 20px 0px 40px 0px;
    }
    .Visiting .section__content {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    .Visiting .section__content img {
        margin-bottom: 15px;
    }
}
/*--------------------------------------------------------------------EXPLORE-------------------------------------------------------------------*/
.Explore {
    width: 100%;
    background: #030303;
    padding: 75px 0px;
}
.Explore ._container {
    flex-wrap: nowrap;
    gap: 40px;
}
.Explore .section__title {
    color: #ffffff;
}
.Explore .text {
    flex: 1 1 600px;
}
._information{
    font-weight: 300;
    font-size: calc(16px + 6 * (100vw / 1920));
    line-height: calc(32px + 6 * (100vw / 1920));
    color: #ffffff;
}
._information:not(:last-child) {
    margin-bottom: 25px;
}
.yellow__text {
    color: #caaa7d;
}
.img__explore {
    flex: 0 1 720px;
    position: relative;
    height: 700px;
    right: 0;
}
.img__explore img {
    width: 100%;
}
.img-comp-img {
    position: absolute;
    width: auto;
    overflow: hidden;
}
.img-comp-overlay1 {
    background: url('assets/img/image2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.img-comp-overlay2 {
    background: url('assets/img/image1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.img-comp-slider {
    position: absolute;
    z-index: 12;
    cursor: ew-resize;
    width: 40px;
    top: 0;
    left: 0;
    background: url('assets/img/explore_slider.png');
    opacity: 1;
}
@media (max-width: 1440px) {
    .Explore .text .line,
    .Contacts ._container .line,
    .Tickets ._container .line {
        margin: 20px 0px 60px 0px;
    }
    .Explore ._container .text {
        width: 100%;
        height: auto;
    }
    .Explore ._container {
        display: block;
    }
    .Explore .text ._information {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .Explore ._information:last-child {
        display: none;
    }
    .Explore .img__explore {
        width: 730px;
        margin: 50px auto 0;
    }
}
@media (max-width: 767px) {
    .Explore .text .line,
    .Contacts ._container .line,
    .Tickets ._container .line {
        margin: 20px 0px 40px 0px;
    }
    .Explore .img__explore {
        width: 500px;
        height: 500px;
        margin: 40px auto 0;
    }
    .img-comp-slider,
    .img-comp-overlay1 {
        display: none;
    }
    .img-comp-overlay2 {
        width: 100% !important;
    }
}
@media (max-width: 575px) {
    .Explore .img__explore {
        width: 380px;
        height: 368px;
    }
}
@media (max-width: 420px) {
    .Explore .img__explore {
        width: 280px;
        height: 300px;
    }
}
/*------------------------------------------------------------------------------------VIDEO----------------------------------------------------------------------------------*/
.Video ._container {
    gap: 70px;
}
.Video .section__title {
    flex: 1 1 45%;
}
.Video ._information {
    flex: 1 1 45%;
    font-weight: 300;
    font-size: calc(16px + 6 * (100vw / 1920));
    line-height: calc(32px + 6 * (100vw / 1920));
    color: #000000;
    margin-bottom: 0;
}
.video__container {
    flex: 1 1 100%;
    text-align: center;
}
.video {
    width: 70%;
    height: 600px;
}
@media (max-width: 1440px) {
    .video {
        width: 80%;
        height: 550px;
    }
}
@media (max-width: 1024px) {
    .Video ._container {
        gap: 35px;
    }
    .Video .section__title,
    .Video ._information {
        flex: 1 1 100%;
    }
    .video {
        width: 80%;
        height: 500px;
    }
}
@media (max-width: 768px) {
    .Video ._container {
        gap: 25px;
    }
    .video {
        width: 90%;
        height: 400px;
    }   
}
@media (max-width: 575px) {
    .Video ._container {
        gap: 20px;
    }
    .video {
        width: 100%;
        height: 320px;
    }   
}
@media (max-width: 480px) {
    .video {
        height: 250px;
    }   
}
/*-------------------------------------------------------------------------GALLERY----------------------------------------------------------------------------------*/
.Visiting,
.Explore,
.Video,
.Gallery,
.Tickets,
.Contacts {
    margin: 75px 0px 0px 0px;
}
.Gallery {
    background: #030303;
    padding-top: 75px;
    max-height: 2300px;
}
.Gallery .section__title {
    color: #ffffff;
    margin-bottom: 40px;
}
.picture-container {
    max-height: 2000px;
    overflow-y: hidden;
}
.picture-inner-container {
    column-count: 3;
    column-width: 1fr;
    column-gap: 36px;
}
.rectangle_gradient {
    position: relative;
    top: -350px;
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.gallery-img {
    margin-bottom: 24px;
    overflow: hidden;
    transform: translate(0px, 60%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    width: 100%;
}
.gallery-img ._active,
._active .gallery-img {
    transform: translate(0px, 0px);
    opacity: 1;
}
._active .gallery-img:nth-child(1),
._active .gallery-img:nth-child(6),
._active .gallery-img:nth-child(11) {
    transition: all 0.8s ease 0s;
}
._active .gallery-img:nth-child(2),
._active .gallery-img:nth-child(7),
._active .gallery-img:nth-child(12) {
    transition: all 0.8s ease 1s;
}
._active .gallery-img:nth-child(3),
._active .gallery-img:nth-child(8),
._active .gallery-img:nth-child(13) {
    transition: all 0.8s ease 1.5s;
}
._active .gallery-img:nth-child(4),
._active .gallery-img:nth-child(9),
._active .gallery-img:nth-child(14) {
    transition: all 0.8s ease 2s;
}
._active .gallery-img:nth-child(5),
._active .gallery-img:nth-child(10),
._active .gallery-img:nth-child(15) {
    transition: all 0.8s ease 2.5s;
}
@media (max-width: 1440px) {
    .Gallery,
    .Explore {
        padding-top: 70px;
    }
}
@media (max-width: 1024px) {
    .Gallery {
        max-height: 1700px;
    }
    .Gallery ._container .picture-container {
        max-height: 1400px;
    }
    .picture-inner-container {
        column-count: 2;
        column-gap: 24px;
    }
    .Gallery .rectangle_gradient {
        top: -240px;
        height: 250px;
    }
    .Visiting,
    .Explore,
    .Video,
    .Gallery,
    .Tickets,
    .Contacts {
        margin: 65px 0px 0px 0px;
    }
    .Gallery,
    .Explore {
        padding-top: 60px;
    }
}
@media (max-width: 768px) {
    .Gallery .picture-container .picture-inner-container {
        column-gap: 15px;
    }
    .Visiting,
    .Explore,
    .Video,
    .Gallery,
    .Tickets,
    .Contacts {
        margin: 55px 0px 0px 0px;
    }
    .Gallery,
    .Explore {
        padding-top: 50px;
    }
}
@media (max-width: 575px) {
    .Gallery {
        max-height: 1000px;
    }
    .Gallery ._container .picture-container {
        max-height: 800px;
    }
    .Gallery .section__title {
        margin-bottom: 25px;
    }
    .Visiting,
    .Explore,
    .Video,
    .Gallery,
    .Tickets,
    .Contacts {
        margin-top: 45px;
    }
    .Gallery,
    .Explore {
        padding-top: 40px;
    }
}
/*----------------------------------------------------------------------------------------TICKETS------------------------------------------------------------------------*/
.ticket__form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}
.ticket__image {
    flex: 1 1 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('assets/img/Rectangle.jpg');
}
.ticket__type {
    flex: 1 1 25%;
    padding-bottom: 340px;
}
.title__ticket__type,
.total {
    font-weight: bold;
    font-size: calc(20px + 10 * (100vw / 1920));
    line-height: calc(23px + 10 * (100vw / 1920));
}
.ticket__type__list > ul li {
    margin-top: 25px;
}
.ticket__type__list > ul li:first-child {
    margin-top: 50px;
}
.ticket__type__point {
    margin-right: 23px;
    width: 17px;
    height: 17px;
}
.ticket__type__text,
.title__block_,
.button__buy {
    font-family: Roboto;
    font-weight: 300;
    font-size: calc(16px + 10 * (100vw / 1920));
    line-height: calc(20px + 10 * (100vw / 1920));
}
.amount {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title__block_ {
    margin-bottom: 15px;
}
.block__1 {
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative;
}
.block__2 {
    margin-bottom: 50px;
    position: relative;
}
.sign__minus,
.sign__plus {
    position: absolute;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    background: #ffffff;
}
.sign__minus {
    top: 48px;
    left: 23px;
}
.sign__plus {
    top: 51px;
    left: 110px;
}
.rectangle__block_ {
    width: 150px;
    height: 50px;
    border: 3px solid #000000;
    -moz-appearance: textfield;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}
.rectangle__block_::-webkit-inner-spin-button {
    display: none;
}
.total {
    letter-spacing: 1.65px;
}
.button__buy {
    padding: 15px 40px;
    background: #000000;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 2px;
    margin-top: 50px;
}
@media (max-width: 1440px) {
    .ticket__form {
        gap: 30px;
    }
    .ticket__type {
        flex: 1 1 25%;
        padding-bottom: 250px;
    }
    .ticket__type__point {
        margin-right: 10px;
        width: 17px;
        height: 17px;
    }
}
@media (max-width: 1024px) {
    .ticket__form {
        gap: 80px;
    }
    .ticket__image {
        flex: 1 1 65%;
    }
    .ticket__type {
        display: none;
    }
    .ticket__form .amount {
        align-items: flex-start;
    }
    .title__block_ {
        margin-bottom: 10px;
    }
    .sign__minus {
        top: 40px;
        left: 25px;
    }
    .sign__plus {
        top: 42px;
        left: 130px;
    }
    .rectangle__block_ {
        width: 175px;
    }
}
@media (max-width: 768px) {
    .ticket__form {
        gap: 60px;
    }
    .block__1 {
        margin: 40px 0px 25px;
    }
    .block__2 {
        margin-bottom: 40px;
    }
    .button__buy  {
        margin-top: 40px;
    }
}
@media (max-width: 575px) {
    .ticket__form {
        display: block;
    }
    .ticket__form .ticket__image {
        width: 100%;
        height: 260px;
    }
    .ticket__form .amount {
        width: 100%;
        margin-top: 40px;
        align-items: center;
    }
    .Tickets .title__block_ {
        text-align: left;
    }
}
/*---------------------------------------------------------------------------------PARALLAX-------------------------------------------------------------------------*/
.parallax {
    width: 100%;
    height: 400px;
    margin-top: 75px;
    background-image: url('assets/img/parallax.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
@media (max-width: 1024px) {
    .parallax {
        margin-top: 60px;
    }
}
@media (max-width: 768px) {
    .parallax {
        height: 300px;
        margin-top: 70px;
    }
}
@media (max-width: 420px) {
    .parallax {
        height: 250px;
        margin-top: 50px;
    }
}
/*----------------------------------------------------------------------------------CONTACTS--------------------------------------------------------------------------*/
.contact__information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 74px;
}
.map {
    flex: 1 1 70%;
    height: 620px;
}
.contact__data {
    flex: 1 1 30%;
}
.contact__title {
    font-weight: 500;
    font-size: calc(18px + 12 * (100vw / 1920));
    line-height: calc(21px + 12 * (100vw / 1920));
    margin-bottom: 25px;
}
.phone,
.mail,
.address {
    font-weight: 300;
    font-size: calc(16px + 6 * (100vw / 1920));
    line-height: calc(20px + 6 * (100vw / 1920));
}
.Contacts ._container .contact__information .contact__data a {
    color: #000000;
}
.phone,
.mail {
    margin-top: 25px;
}
@media (max-width: 1440px) {
    .map {
        height: 520px;
    }
}
@media (max-width: 1024px) {
    .contact__information {
        padding-bottom: 55px;
    }
    .map {
        flex: 1 1 60%;
    }
    .contact__title {
        margin-bottom: 35px;
    }
    .Contacts ._container .contact__information .map {
        height: 450px;
    }
    .contact__data .phone,
    .contact__data .mail {
        margin-top: 15px;
    }
}
@media (max-width: 768px) {
    .map {
        flex: 1 1 100%;
    }
    .contact__information {
        flex-wrap: wrap;
        padding-bottom: 40px;
        gap: 40px;
    }
}
@media (max-width: 480px) {
    .Contacts ._container .contact__information .map {
        height: 300px;
    }
    .contact__information {
        padding-bottom: 30px;
    }
}
@media (max-width: 400px) {
    .Contacts ._container .contact__information .map {
        height: 250px;
    }
}
/*----------------------------------------------------------------------------FOOTER----------------------------------------------------------------------------*/
.footer {
    width: 100%;
    background: #030303;
    padding-top: 90px;
    padding-bottom: 50px;
    font-family: Roboto;
}
.footer__container {
    display: flex;
    align-items: flex-start;
    height: auto;
    color: #ffffff;
}
.footer .footer__container .logo__container {
    flex: 1 1 33.33%;
    top: 0;
}
.footer__navigation {
    flex: 1 1 33.33%;
}
.footer .footer__container .footer__navigation .menu__list {
    display: grid;
    grid-template-rows: 26px 26px 26px;
    grid-template-columns: 107px 106px;
    grid-gap: 25px 100px;
}
.footer .footer__container .footer__navigation .menu__list .menu__link,
.last__string {
    font-size: calc(16px + 6 * (100vw / 1920));
    line-height: calc(18px + 6 * (100vw / 1920));
}
.social {
    flex: 1 1 33.33%;
    width: 340px;
    margin-top: 90px;
}
.social__list {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 25px;
}
.social__item {
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
}
.youtube__link,
.instagram__link,
.facebook__link,
.twitter__link,
.pinterest__link {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 12px;
    align-content: center;
}
.youtube___icon {
    position: relative;
    left: 4.17%;
    right: 1.21%;
    top: 16.67%;
    bottom: 16.67%;
}
.facebook___icon {
    position: relative;
    left: 25%;
    right: 22.92%;
    top: 8.33%;
    bottom: 8.33%;
}
.twitter___icon {
    position: relative;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 15.62%;
}
.pinterest___icon {
    position: relative;
    left: 8.48%;
    right: 8.48%;
    top: 8.33%;
    bottom: 8.33%;
}
.footer .line {
    flex: 1 1 100%;
    width: 100%;
    background: #666666;
    margin: 50px 0;
}
.last__string {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 200;
    letter-spacing: 2px;
}
.username {
    text-align: center;
}
@media (max-width: 1440px) {
    .footer .footer__container .footer__navigation .menu__list {
        grid-gap: 25px 60px;
    }
    .social__list {
        gap: 20px;
    }
}
@media (max-width: 1024px) {
    .footer {
        padding-top: 50px;
    }
    .footer .footer__container .logo__container,
    .footer ._container .footer__navigation {
        flex: 1 1 50%;
    }
    .footer .footer__container .footer__navigation .menu__list {
        grid-gap: 25px 100px;
    }
    .footer ._container .social {
        flex: 1 1 100%;
    }
    .social__list {
        justify-content: center;
        gap: 50px;
    }
}
@media (max-width: 768px) {
    .footer {
        font-size: 18px;
    }
    .footer .footer__container .footer__navigation .menu__list {
        grid-gap: 25px 50px;
    }
    .social {
        margin-top: 50px;
    }
    .social__list {
        gap: 30px;
    }
}
@media (max-width: 560px) {
    .footer .footer__container .footer__navigation .menu__list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px 50px;
        margin-top: 50px;
    }
    .social__list {
        gap: 10px;
    }
}
@media (max-width: 420px) {
    .footer .footer__container .footer__navigation .menu__list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px 30px;
        margin-top: 40px;
    }
    .social__list {
        gap: 5px;
    }
}
